/**
  |============================
  | Basic styles
  |============================
*/
:root {
    --light-gray: #FAFAFA;
    --purplish-black: #1E1823;
    --bright-orange: #FD9222;
    --white: #FFF;
    --dark-grey: #111;
    --transition: 300ms linear;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;

    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-gray);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 20px; 
    min-width: 320px;
    max-width: 375px;

    /* outline: 2px solid red; */
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

/**
  |============================
  | Header
  |============================
*/

.header-topbar {
    padding: 28px 0;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    font-family: "Montserrat";
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.42px;

    display: flex;
    align-items: center;

    color: var(--dark-grey);
}

.second-logo-link {
    font-style: normal;
}

.menu-list:not(:last-child) {
    display: flex;
    gap: 24px;
}

.header-link {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
        color: var(--dark-grey);

        display: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var(--bright-orange);
}

.mobile-button {
    background-color: transparent;
    border: none;
}

.contact-list {
    display: none;
    gap: 18px;
}

@media screen and (min-width:1200px) {
    .header-topbar {
        padding: 28px 0 36px 0;
    }
    .header-link {
        display: flex;
    }
    .mobile-button {
        display: none;
    }
    .contact-list {
        display: flex;
    }
}

/**
  |============================
  | Hero-section
  |============================
*/

.hero-section {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../images/chocolate-covered-cocoa-powder\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 30px;
}

.hero-container {
    padding: 395px 20px 20px 20px;
}

.main-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    color: var(--white);
    margin-bottom: 32px;

    max-width: 484px;
}

.primary-button {
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;

    border-radius: 100px;
    color: var(--white);
    background-color: transparent;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.primary-button:hover,
.primary-button:focus {
    background-color: var(--bright-orange);
    transform: scale(1.1);
}

.scroll-button {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;

        margin-left: auto;

        color: var(--white);
}

.scroll-button:hover,
.scroll-button:focus {
    color: var(--bright-orange);
}

@media screen and (min-width:320px) and (max-width:767px) {
    .primary-button {
        margin-bottom: 39px;
    }
    .scroll-button {
        margin-left: unset;
    }
}

@media screen and (min-width:768px) {
    .hero-section {
        /* background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(); */
    }
    .hero-container {
        padding: 671px 40px 40px 40px;
    }
}

@media screen and (min-width:1200px) {
    .hero-section {
        /* background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(); */
    }
    .hero-container {
        padding: 381px 40px 40px 40px;
    }
}

/**
  |============================
  | Benefits section
  |============================
*/

.benefits-section {
    padding-top: 72px;
    padding-bottom: 72px;
}

.benefits-container {
    padding: 20px;

    background-color: var(--purplish-black);
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.benefits-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}

.benefits-article {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: rgba(255, 255, 255, 0.70);
}

@media screen and (min-width:768px) {
    .benefits-section {
        padding-bottom: 100px;
    }
    .benefits-container {
        padding: 50px 32px;
    }
    .benefits-list {
        gap: 32px;
    }
    .benefits-item {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (min-width:1200px) {
    .benefits-section {
        padding-bottom: 128px;
    }
    .benefits-container {
        padding: 50px;
    }
    .benefits-list {
        gap: 70px;
    }
    .benefits-item {
        width: calc((100% - 186px) / 3);
    }
}

/**
  |============================
  | Third section
  |============================
*/

.third-section {
    padding-bottom: 72px;
}

.first-block {
    padding: 0 20px;
}

.secondary-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;

    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.highlighted-word {
    color: var(--bright-orange);
}

.secondary-article {
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.28px;

    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 32px;
    }

.icon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px;

    width: 100%;
}

.icon-item {
    position: relative;
    overflow: hidden;
}

.icon-item:hover .product-cover-block {
    transform: translate(0);
}

.product-cover-block {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 15px;
    background: #FFF;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
}

.product-cover-title {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.product-cover-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.product-icon {
    width: 100%;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .icon-item {
        width: calc((100% - 32px) / 2);
    }
    .icon-list {
        gap: 32px;
    }
    .first-block {
        padding: 0 30px;
    }
}

@media screen and (min-width:1200px) {
    .third-section {
        padding-bottom: 128px;
    }
    .icon-item {
        width: calc((100% - 57px) / 4);
    }
} 
/**
  |============================
  | Fourth section
  |============================
*/

.fourth-section {
    padding-bottom: 72px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.made-icon {
    width: 100%;
}

.offer-container {
    padding: 20px 14px;
    background-color: var(--white);
}

.product-title {
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    max-width: 350px;
}

.made-list {
    padding-left: 16px;
}

.made-item {
    position: relative;
}

.made-item::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4C4C4C;
}

.made-item-text {
    color: var(--dark-grey);
    font-size: 14px;
    letter-spacing: -0.28px;
}

@media screen and (min-width:768px) {
    .fourth-section {
        padding-bottom: 100px;
    }
    .made-icon {
        width: 100%;
        padding: 0 77px;
    }
    .offer-container {
        padding: 0 77px;
    }
}

@media screen and (min-width:1200px) {
    .fourth-section {
        padding-bottom: 128px;
    }
    .offer-container {
        padding: 32px;
    }
    .product-container {
        display: flex;
        flex-wrap: inherit;
        gap: 20px;
    }
    .made-icon {
        padding: inherit;
    }
}
/**
  |============================
  | Fifth section 
  |============================
*/

.fifth-section {
    padding-bottom: 105px;
}


.secondary-product-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    justify-content: center;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.product-item:hover .chocolate-cover-block {
    transform: translate(0);
}
.chocolate-cover-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: transform var(--transition);
    background-color: var(--white);
}

.chocolate-cover-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    text-align: center;
}

.chocolate-cover-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    text-align: center;
}

.chocolate-cover-button {
    display: block;
    margin: auto;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
}

.chocolate-cover-button:hover,
.chocolate-cover-button:focus {
    background-color: var(--bright-orange);
    transform: scale(1.2);
}

@media screen and (min-width:768px) {
    .secondary-product-title {
        margin-bottom: 50px;
    }
    .fifth-section {
        padding-bottom: 145px;
    }
    .product-item {
        width: calc((100% - 18px) / 2);
    }
    .product-image {
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    .fifth-section {
        padding-bottom: 173px;
    }
    .product-item {
        width: calc((100% - 54px) / 4);
    }
}
/**
  |============================
  | Six section
  |============================
*/

.six-section {
    padding-bottom: 72px;
}

.sellers-title {
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-align: center;

    margin-bottom: 50px;
    margin-top: 0;
}

.sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    justify-content: center;

    margin-bottom: 32px;
}

.sellers-pic {
    width: 100%;
}

.sellers-wrap {
    display: flex;
}

.sellers-text {
    display: none;
    font-size: 14px;
    letter-spacing: -0.28px;

    margin-top: 0;

    max-width: 407px;
}

.sellers-button {
    width: 120px;
    height: 41px;

    border-radius: 100px;
    border-color: var(--bright-orange);
}

.text-button {
    color: var(--dark-grey);
}

.sellers-button:hover,
.sellers-button:focus {
    background-color: var(--bright-orange);
    transform: scale(1.1);
}

@media screen and (min-width:768px) {
    .sellers-item {
        width: calc((100% - 32px) / 2);
    }
    .sellers-list {
        justify-content: space-between;
    }
    .sellers-wrap {
        gap: 236px;
    }
    .sellers-text {
        display: block;
    }
    .six-section {
        padding-bottom: 100px;
    }
}

@media screen and (min-width:1200px) {
    .sellers-item {
        width: calc((100% - 32px) / 3);
    }
    .sellers-wrap {
        gap: 567px;
    }
    .sellers-button {
        border-radius: 100px;
        background-color: transparent;
        padding: 14px 40px;
        width: unset;
        height: unset;
    }
    .six-section {
        padding-bottom: 128px;
    }
}

/**
  |============================
  | Seven section
  |============================
*/

.seven-section {
    padding-bottom: 72px;
}

.chocolate-title {
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-align: center;

    margin-bottom: 74px;
    margin-top: 0;
}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.loved-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: var(--white);
    padding: 56px 18px 42px 18px;
    position: relative;
}

.loved-image {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .loved-item:last-child {
        display: none;
    }
}

.loved-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    text-align: center;
}

.loved-text {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.loved-button {
    border-radius: 100px;
    border: 1px solid #FD9222;
    padding: 12px 28px;
    display: block;
    margin: auto;

    margin-top: 65px;
}

.loved-button:hover,
.loved-button:focus {
    background-color: var(--bright-orange);
    transform: scale(1.1);
}

@media screen and (min-width:768px) {
    .seven-section {
        padding-bottom: 100px;
    }
    .chocolate-title {
        margin-bottom: 91px;
    }
    .loved-item {
        width: calc((100% - 32px) / 2);
        padding: 56px 16px 42px 16px;
    }
    .loved-button {
        margin-top: 96px;
    }
    .loved-list {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width:1200px) {
    .seven-section {
        padding-bottom: 128px;
    }
    .loved-list {
        gap: 28px;
        flex-wrap: unset;
    }
    .loved-item {
        width: calc((100% - 56px) / 3);
        padding: 56px 24px 24px 24px;
    }
}

/**
  |============================
  | Footer section
  |============================
*/

.footer-section {
    background-color: var(--purplish-black);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
}

.footer-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;

    margin-top: 0;
    margin-bottom: 32px;

    max-width: 300px;
}

.footer-contact {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    margin: 0 0 14px 0;
}

.footer-contact-link {
    color: var(--white);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

    color: var(--white);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--bright-orange);
}

.footer-navigation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    flex-direction: column;
}

.footer-icon-list {
    display: flex;
    gap: 18px;
}

.icon-container {
    margin-left: auto;
}

@media screen and (min-width:768px) {
    .footer-contact-wrap {
        margin-left: auto;
    }
    .icon-container {
        margin-left: 63px;
    }
    .footer-navigation-list {
        flex-direction: unset;
        gap: 24px;
    }
}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: hwb(0 7% 93% / 0.507);

    transition: opacity var(--transition), visibility var(--transition);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 437px;
    transform: translate(-50%, -50%);
    min-height: 548px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 40px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

.modal-button:hover {
    background-color: var(--bright-orange);
}

.modal-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    max-width: 298px;

    margin-bottom: 40px;
}

.modal-input {
    width: 100%;
    height: 66px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    background-color: transparent;

    margin-bottom: 18px;

}

.modal-input::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;  
}

.modal-main-button {
    padding: 14px 40px;

    border-radius: 100px;
    border: none;
    background: #FD9222;
}

.modal-main-button:hover,
.modal-main-button:focus {
    background-color: var(--purplish-black);
}

.button-word {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.modal-field {
    margin-bottom: 18px;
}

.modal-textarea {
    width: 100%;
    height: 137px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.modal-textarea::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}